<!DOCTYPE html>
<!-- saved from url=(0031)https://gm.heyoplay.com/privacy -->
<html lang="en" class="gr__gm_heyoplay_com"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta http-equiv="Cache-Control" content="no-siteapp">
<meta http-equiv="Cache-Control" content="no-transform">
<meta name="applicable-device" content="mobile">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<meta name="format-detection" content="telephone=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="white">
<title>Privacy Policy</title>

<meta name="keywords" content="Privacy Policy">

<style>
html,body{overflow-x:hidden;font:0.14rem/1.5 Microsoft YaHei,Arial,sans-serif}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img,iframe{border:0 none}img{vertical-align:top}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:400}ol,ul,li{list-style:none}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:400}input,label,select,option,legend,button,fieldset,textarea{font-size:100%}q:before,q:after{content:''}a{text-decoration:none}a:hover{text-decoration:underline}.doc{padding:0 0.2rem;font-size:0.14rem;overflow:hidden}.title{margin-bottom:0.16rem;line-height:0.6rem;border-bottom:0.01rem solid #eeeeee}h2,h3{font-weight:bold}h2{color:#333333;font-size:0.2rem;line-height:2}h3{color:#333333;font-size:0.16rem;line-height:2.2}p{color:#555555;line-height:1.8;margin-bottom:0.1rem}
html {
font-size: 100px;
}
</style>
</head>
<body data-gr-c-s-loaded="true">
<header></header>
<div class="container">
<div class="doc">
<h2 class="title">Privacy Policy</h2>
<h3>Prompt clause</h3>
<p>This privacy policy applies to the software, websites, and services provided by <%= appName %> (collectively referred to as "the product"), including but not limited to products and services applicable to computers and mobile smart terminals.</p>
<p>This product complies with and protects the privacy of all users who use it. In order to provide you with more accurate and personalized services, this product will disclose your personal information in accordance with the use provisions of this privacy policy. However, this product will provide this information, unless otherwise specified in this privacy policy, this product will not publicly disclose this information or provide information to the public without your specific circumstances. This product will provide information from time to time. Update this privacy policy. When you agree to this application service use agreement, it means that you have agreed to the entire content of this privacy policy. This privacy policy is an integral part of this product or service agreement.</p>
<h3>Scope of application</h3>
<p>1. When you register this product, you provide personal registration information according to the requirements of this product;</p>
<p>2. When you use the network service of this product or visit the webpage of this product platform, this product automatically receives and records the information on your browser and computer, including but not limited to your IP address, browser type, and usage method Language, date and time of access, software and hardware characteristics information and web page records you need;</p>
<p>3. This product obtains user personal data from business partners through legal channels.</p>
<p>You understand and agree that the following information does not apply to this privacy policy:</p>
<p>1. The keyword information you enter when using the search service provided by this product platform;</p>
<p>2. This product collects the relevant information and data you publish on this product, including but not limited to publishing text, evaluation, participation in activities, and contact information;</p>
<p>3. Violation of laws or regulations of this product and the measures this product has taken against you.</p>
<h3>Information use</h3>
<p>This product will not provide, sell, rent, share or trade your personal information to any other person. Unless you have your permission, it will provide you with services separately or jointly with this product (including its affiliates), and After the service ends, it will be forbidden to access, including all the materials that it has previously had access to.</p>
<p>This product does not accept any means to collect, edit, sell or disseminate your personal information for free. If any user of this product platform engages in the above-mentioned information, this product will immediately suspend its activities, and once the service agreement with that user is terminated.</p>
<p>For the purpose of serving users, this product may use your personal information to provide you with your personal information, including but not limited to sending you products and services, or sharing information with partners of this product so that they can send you information about their products And service information (you need your prior consent)</p>
<h3>Information disclosure</h3>
<p>Under the following circumstances, this product will state your personal wishes or disclose all or part of your personal information as required by law:</p>
<p>With your consent, disclose to the public;</p>
<p>In order to provide the products and services you request, you must share your personal information;</p>
<p>Be aware of the relevant provisions of the law, or the requirements of the administrative or judicial institutions, and the administrative or judicial disclosure institutions to or contrary to them;</p>
<p>If you violate relevant Chinese laws, regulations, or application service agreements or relevant rules, you need to disclose to them;</p>
<p>If you are a qualified intellectual property complainant and have filed a complaint, the respondent should disclose it at the request of the respondent so that both parties can deal with possible infringements;</p>
<p>In a transaction created on this product platform, if any party to the transaction fulfills or partially fulfills its transaction obligations and makes an information disclosure request, this product decides to provide the user with information such as the contact information of the counterparty to exchange the transaction. Complete or painful resolution.</p>
<p>Others This product displays appropriate disclosures in accordance with laws, regulations or website policies.</p>
<h3>Information storage and exchange</h3>
<p>The information and data collected by this product about you will be stored on the server of this product and/or its affiliates. This information and data may be transmitted to your country, region or outside of the product information and data center and abroad To be accessed, stored and displayed.</p>
<p>If you do not refuse to accept cookies, this product will set or access cookies on your device so that you can log in or use the services or functions of this application platform that rely on cookies. This product uses cookies to provide you with more thoughtful and personalized services, including promotional services.</p>
<p>You have the right to choose to accept or refuse to accept cookies. You can refuse to accept cookies by setting. However, if you choose to refuse to accept cookies, you may not be able to log in or use the web services or functions of this product that rely on cookies.</p>
<p>This policy will apply to the relevant information obtained through the cookies set by this product.</p>
<h3>information security</h3>
<p>This product will take security measures such as stealing password users to ensure that the user's information is not lost, prevention and prevention, please pay attention to collecting your collection and password information. At the same time, please note that there is no "perfect security measure" on the information network.</p>
<p>When using the network service of this product to conduct online transactions, you need to provide personal information, such as information or correspondence address, to the counterparty or potential counterparty. Please contact us to protect your personal information. Only when necessary, if you find that your personal information is leaked, especially the user name of this app and the leaked information, please contact this product immediately so that this app can take corresponding measures.</p>
<h3>Privacy policy changes</h3>
<p>Our privacy policy may be subject to change. You agree to the video, and we will not restrict your rights in accordance with this privacy policy.</p>
<p>For major changes, we in China provide more noticeable notifications.</p>
<p>The major changes referred to in this policy include but are not limited to:</p>
<p>1. Our service model has undergone major changes. Such as the purpose of processing personal information, the type of personal information processed, the way of using personal information, etc.;</p>
<p>2. Significant changes in our control rights. Such as visual changes caused by mergers and acquisitions, etc.;</p>
<p>3. Changes in the main objects of personal information sharing, disclosure or disclosure;</p>
<p>4. Your right to participate in information processing and major changes in your personal implementation methods;</p>
<p>5. Our responsible department for handling personal information security, contact information and the time when the complaint changes;</p>
<p>6. When personal information security impact assessment reports suggest high risks.</p>
</div>
</div>

<script type="text/javascript" src="./:privacy_files/privacy.js"></script>
</body></html>