<!DOCTYPE html>
<!-- saved from url=(0031)https://gm.heyoplay.com/privacy -->
<html lang="en" class="gr__gm_heyoplay_com"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta http-equiv="Cache-Control" content="no-siteapp">
<meta http-equiv="Cache-Control" content="no-transform">
<meta name="applicable-device" content="mobile">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<meta name="format-detection" content="telephone=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="white">
<title>隐私政策</title>

<meta name="keywords" content="隐私政策">

<style>
html,body{overflow-x:hidden;font:0.14rem/1.5 Microsoft YaHei,Arial,sans-serif}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img,iframe{border:0 none}img{vertical-align:top}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:400}ol,ul,li{list-style:none}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:400}input,label,select,option,legend,button,fieldset,textarea{font-size:100%}q:before,q:after{content:''}a{text-decoration:none}a:hover{text-decoration:underline}.doc{padding:0 0.2rem;font-size:0.14rem;overflow:hidden}.title{margin-bottom:0.16rem;line-height:0.6rem;border-bottom:0.01rem solid #eeeeee}h2,h3{font-weight:bold}h2{color:#333333;font-size:0.2rem;line-height:2}h3{color:#333333;font-size:0.16rem;line-height:2.2}p{color:#555555;line-height:1.8;margin-bottom:0.1rem}
html {
font-size: 100px;
}
</style>
</head>
<body data-gr-c-s-loaded="true">
<header></header>
<div class="container">
<div class="doc">
<h2 class="title">隐私政策</h2>
<h3>提示条款</h3>
<p>本隐私权政策适用于<%= appName %>提供的软件、网站、服务（统称为「本产品」），包括但不限于适用于电脑、移动智能终端的产品及服务。</p>
<p>本产品尊重并保护所有使用的用户个人隐私权。为了给您提供更准确、更有个性化的服务，本产品会按照本隐私权政策的规定使用和披露您的个人信息。但本产品将以高度的勤勉、审慎义务对待这些信息。除本隐私权政策另有规定外，在未征得您事先许可的情况下，本产品不会将这些信息对外披露或向第三方提供。本产品会不时更新本隐私权政策。 您在同意本应用服务使用协议之时，即视为您已经同意本隐私权政策全部内容。本隐私权政策属于本产品或服务使用协议不可分割的一部分。</p>
<h3>适用范围</h3>
<p>1. 在您注册本产品时，您根据本产品要求提供的个人注册信息；</p>
<p>2. 在您使用本产品网络服务，或访问本产品平台网页时，本产品自动接收并记录的您的浏览器和计算机上的信息，包括但不限于您的IP地址、浏览器的类型、使用的语言、访问日期和时间、软硬件特征信息及您需求的网页记录等数据；</p>
<p>3. 本产品通过合法途径从商业伙伴处取得的用户个人数据。</p>
<p>您了解并同意，以下信息不适用本隐私权政策：</p>
<p>1. 您在使用本产品平台提供的搜索服务时输入的关键字信息；</p>
<p>2. 本产品收集到的您在本产品发布的有关信息数据，包括但不限于发布文字、评价、参与活动、成交信息；</p>
<p>3. 违反法律规定或违反本产品规则行为及本产品已对您采取的措施。</p>
<h3>信息使用</h3>
<p>本产品不会向任何无关第三方提供、出售、出租、分享或交易您的个人信息，除非事先得到您的许可，或该第三方和本产品（含本产品关联公司）单独或共同为您提供服务，且在该服务结束后，其将被禁止访问包括其以前能够访问的所有这些资料。</p>
<p>本产品亦不允许任何第三方以任何手段收集、编辑、出售或者无偿传播您的个人信息。任何本产品平台用户如从事上述活动，一经发现，本产品有权立即终止与该用户的服务协议。</p>
<p>为服务用户的目的，本产品可能通过使用您的个人信息，向您提供您感兴趣的信息，包括但不限于向您发出产品和服务信息，或者与本产品合作伙伴共享信息以便他们向您发送有关其产品和服务的信息（后者需要您的事先同意）</p>
<h3>信息披露</h3>
<p>在如下情况下，本产品将依据您的个人意愿或法律的规定全部或部分的披露您的个人信息：</p>
<p>经您事先同意，向第三方披露；</p>
<p>为提供您所要求的产品和服务，而必须和第三方分享您的个人信息；</p>
<p>根据法律的有关规定，或者行政或司法机构的要求，向第三方或者行政、司法机构披露；</p>
<p>如您出现违反中国有关法律、法规或者本应用服务协议或相关规则的情况，需要向第三方披露；</p>
<p>如您是适格的知识产权投诉人并已提起投诉，应被投诉人要求，向被投诉人披露，以便双方处理可能的权利纠纷；</p>
<p>在本产品平台上创建的某一交易中，如交易任何一方履行或部分履行了交易义务并提出信息披露请求的，本产品有权决定向该用户提供其交易对方的联络方式等必要信息，以促成交易的完成或纠纷的解决。</p>
<p>其它本产品根据法律、法规或者网站政策认为合适的披露。</p>
<h3>信息存储和交换</h3>
<p>本产品收集的有关您的信息和资料将保存在本产品及（或）其关联公司的服务器上，这些信息和资料可能传送至您所在国家、地区或本产品收集信息和资料所在地的境外并在境外被访问、存储和展示。</p>
<p>在您未拒绝接受 Cookie 的情况下，本产品会在您的设备上设定或取用 Cookie，以便您能登录或使用依赖于 Cookie 的本应用平台服务或功能。本产品使用 Cookie 可为您提供更加周到的个性化服务，包括推广服务。</p>
<p>您有权选择接受或拒绝接受 Cookie。您可以通过修改浏览器设置的方式拒绝接受 Cookie。但如果您选择拒绝接受 Cookie，则您可能无法登录或使用依赖于 Cookie 的本产品网络服务或功能。</p>
<p>通过本产品所设 Cookie 所取得的有关信息，将适用本政策。</p>
<h3>信息安全</h3>
<p>本产品帐号均有安全保护功能，请妥善保管您的用户名及密码信息。本产品将通过对用户密码进行加密等安全措施确保您的信息不丢失，不被滥用和变造。尽管有前述安全措施，但同时也请您注意在信息网络上不存在“完善的安全措施”。</p>
<p>在使用本产品网络服务进行网上交易时，您不可避免的要向交易对方或潜在的交易对方披露自己的个人信息，如联络方式或者邮政地址。请您妥善保护自己的个人信息，仅在必要的情形下向他人提供。如您发现自己的个人信息泄密，尤其是本应用用户名及密码发生泄露，请您立即联络本产品客服，以便本应用采取相应措施。</p>
<h3>隐私权政策变更</h3>
<p>我们的隐私权政策可能变更，未经您明确同意，我们不会限制您按照本隐私政策所应享有的权利。</p>
<p>对于重大变更，我们还会提供更为显著的通知。</p>
<p>本政策所指的重大变更包括但不限于：</p>
<p>1. 我们的服务模式发生重大变化。如处理个人信息的目的、处理的个人信息类型、个人信息的使用方式等；</p>
<p>2. 我们在控制权等方面发生重大变化。如并购重组等引起的所有者变更等；</p>
<p>3. 个人信息共享、转让或公开披露的主要对象发生变化；</p>
<p>4. 您参与个人信息处理方面的权利及其行使方式发生重大变化；</p>
<p>5. 我们负责处理个人信息安全的责任部门、联络方式及投诉渠道发生变化时；</p>
<p>6. 个人信息安全影响评估报告表明存在高风险时。</p>
</div>
</div>

<script type="text/javascript" src="./:privacy_files/privacy.js"></script>
</body></html>