<%- include('../../modules/header-english/index.ejs', {title: '英语学堂'}) %>
<%- include('../../modules/breadcrumb/index.ejs', {list: [], title: '英语学堂'}) %>

<section class="presentation">
  <div class="content">
    <h1>英语学习，其实可以很轻松</h1>
    <p>
      英语作为语言，只为沟通，不为考试。拒绝死记硬背，拒绝应试教育。
    </p>
    <p>
      英语学习，其实可以很轻松。英语是一种语言，是用来表达和沟通的而不是用来考试的。就像婴儿学步，只要方法对了，它就是水到渠成的过程，一切应该是轻松和自然的。
    </p>
    <h2>学习英语，听懂了再说</h2>
    <p>从幼儿园到大学，我们学习了十几年的英语，单词量都按万算，也经历了无数次的考试验证……但又有几个人真正能用英语顺畅交流呢？
    </p>
    <p>
    面对外国人说不出话、到国外旅游时买个东西只会用手比划、蹦单词的人比比皆是。为什么？因为我们在课堂学习的，是偏重研究和学术的，背的是单词研究的是语法，往往很少机会去「说」和「听」。</p>
    <p>
      语言，听懂了才会说。哑巴为什么是哑巴？哑巴往往不是因为不能发声，而是因为耳朵听不见，所以才不会讲。就像英语，听都听不懂自然不会讲了。因此，语言的一切，应该从「听」开始，只有听懂了，才会说。
    </p>
    <h2>高频优先，场景学习</h2>
    <p>
      英文作为语言，其实不应该有难易和等级之分，一个小学生也可以去学习大学课本的英语单词，一个大学生也有可能不认识小学课本上的某些单词。
    </p>
    <p>
      正确的学习方式应该是「高频优先，场景学习」。
    </p>
    <p>
      所谓的高频，就是在你的生活中，出现的最多的语句或单词，比如「吃饭」、「睡觉」等，因为这些东西，学会了能直接用的上，用的机会也多。比如自己的中文名字，无论有多少笔画或者多难写，但相信你肯定会写，而且写的最熟。
    </p>
    <p>
      每个人的生活方式不一样，其高频场景也不一样。一个学生的高频场景可能是课堂或者图书馆又或者是恋爱；一个导购的高频场景应该是购物和推销；一个家庭主妇的高频场景可能是买菜和厨房……
    </p>
    <p>
      所以，尝试先了解自己，根据自己的实际情况选择自己的高频场景，然后用场景代入法去学习英语。同时在生活中尽可能用英语表达（如果害羞的话，可以只在心里用英语表达一遍）。
    </p>
    <p>
      等把自己的这些高频场景都学习完了，熟悉了，相信你的英语水平也可以了，后面的学习也不用多说。
    </p>
    <p>
      具体的学习方法，这里推荐大家可以多看英文电影或者美剧，根据自己的兴趣和场景需要去选择。这里推荐一部比较经典的英文电影《80天环游世界》。其他的学习资源后续都会发布到「<a href="http://www.25pin.com/english">爱玩品资源站：英语学堂」</a>，有兴趣的同学可以持续关注网站更新。
    </p>
    <h2>远离死记硬背，单词应该这么学</h2>
    <p>
      E-n-g-l-i-s-h => English => 英语。记得小时候都是这么背单词的，小时候放学回家妈妈问今天英语学到什么了，也是回答：p-e-n => pen => 钢笔。
    </p>
    <p>
      相信很多人都有同感，觉得学英语枯燥，整天背单词，而且时间久了很容易忘记。
    </p>
    <p>
      其实，这是一种病态。语言作为一种技能，就跟中文一样，学到了就是你的了，时间多久也不会忘记，最多没以前熟练了，但肯定的是不会随着时间而忘记。
    </p>
    <p>
      有听过有哪个中国人到国外呆久了，回国后不会说中文的吗？
    </p>
    <p>
      所以，我们要先抛弃「英语=单词」这个观念，先别着急记那么多单词，尝试下先去把「词根」熟悉下，然后学习下一些日常交流的基本单词（1000 个就够了）。然后按「听 -> 说 -> 读 -> 写」的顺序去学。
    </p>
    <p>
      英语有个天然的优势，它的发音跟单词的拼写是强关联的，在这方面中文就没有这个优势，所以其实「中文比英语难学」就是这个道理。中文像画，写法跟发音没关联，而英文是拼写出来的，发音靠猜也能猜的出个大概。
    </p>
    <p>
      所以，先去听吧，配合真实场景的去听。先多听，听懂了也会说了，看到陌生单词的时候通过猜的读音也能知道它的意思。
    </p>
    <h2>改变观念，从新出发</h2>
    <p>
      一个小孩子很有可能听的懂「麦当劳」，也能说的出，但是「麦当劳」这几个字他们可能看不懂也不会写。
    </p>
    <p>
      一位没读过书的农民可能连自己的名字都不会写，能看懂常用的几个中文字。
    </p>
    <p>
      但是你能说他们不懂中文吗？其实英文一个道理，我们学习了十几年英语，很多时候还比不上一个没读过书的外国人。
    </p>
    <p>
      要学英语，首先要改变自己的观念，想清楚自己学英语到底是为的什么，是为了考试能考 100 分呢，还是想出国买东西可以砍价，还是想到国外留学，还是想在工作中有更好的选择……
    </p>
    <p>
      想清楚了，就开始吧……
    </p>
  </div>
</section>

<footer>
  <%- include('../../modules/statement/index.ejs', {text: '我们只是知识的搬运工，只提供学习方法和必要的笔记，还有学习资源推荐。'}) %>
</footer>
