<header>
  <div style="display: none;"><img src="/public/images/logo.jpg" alt="爱玩品"/></div>
  <a href="/" id="headerBrand" title="爱玩品">
    <img src="/public/images/logo_l.png" alt="爱玩品"/>
  </a>
  <a id="headerBtnMenu"></a>
  <div id="headerMenu">
    <ul></ul>
  </div>
</header>