<header>
  <a href="/" id="headerBrand" title="瓶子老师学习网，有趣冷知识，生活小常识">
    <img src="/public/images/logo_l.png" alt="瓶子老师学习网，有趣冷知识，生活小常识"/>
  </a>
  <a id="headerBtnMenu"></a>
  <div id="headerMenu">
    <ul></ul>
  </div>
</header>