<%- include('../../modules/header/index.ejs', {}) %>
<%- include('../../modules/breadcrumb/index.ejs', {}) %>

<section class="brand">
  <ul class="list">
    <% if (typeof brandList !== 'undefined' && brandList.length > 0) { %>
      <%- include('./list.ejs', {brandList: brandList}) %>
    <% } %>
  </ul>
</section>

<%- include('../../modules/nav-abc/index.ejs', {data: { abcList: abcList }}) %>