@import '../../base/mixin.less';

.jr-m-list-item-img-text {
  border-bottom: 1px solid @colorBorder;

  .list-item-img-text-a {
    position: relative;
    box-sizing: border-box;
    display: block;
    width: 100%;
    min-height: 68px;
    overflow: hidden;
    padding: 12px;

    .info-image {
      float: right;
      position: relative;
      line-height: 0;
      width: 112px;
      height: 84px;
      margin-left: 16px;
      overflow: hidden;

      .image-item {
        width: 100%;
      }
    }
    .info-detail {
      overflow: hidden;
      height: 48px;

      .info-title {
        font-weight: normal;
        color: @colorTitle;
        font-size: @sizeTitle;
        .dots(2);
      }

      p.content {
        color: @colorContent;
        font-size: @sizeDesc;
        margin-top: 8px;
      }
    }
    .tips {
      font-size: @sizeTips;
      color: @colorTips;
      padding-top: 18px;

      .tips-item {
        margin-right: 8px;
      }

      .count {
        padding-left: 20px;
        background: url(view.png) no-repeat left center;
        background-size: 15px 13.8px;
      }
    }
  }
}