<li class="list-item-img-text">
  <a class="list-item-img-text-a" href="<%= url %>"<% if (typeof nofollow !== 'undefined') { %> rel="nofollow"<% } %>>
    <div class="info-left">
      <img class="image-item" src="<%= image %>"/>
    </div>
    <div class="info-right">
      <h3><%= title %></h3>
      <p><%= description %></p>
    </div>
  </a>
</li>