<header>
  <div style="display: none;"><img src="/public/images/logo_english.jpg" alt="英语学堂"/></div>
  <a href="/english" id="headerBrand" title="英语学堂">
    <img src="/public/images/logo_english.png" alt="英语学堂"/>
  </a>
  <a id="headerBtnMenu"></a>
  <div id="headerMenu">
    <ul></ul>
  </div>
</header>