<header>
  <a href="/" id="headerBrand" title="车多星-新手上路，老司机带飞">
    <mip-img layout="fixed" src="/public/images/logo_l.jpg" alt="车多星"></mip-img>
  </a>
  <a id="headerBtnMenu"></a>
  <div id="headerMenu">
    <ul></ul>
  </div>
</header>