<header>
  <div style="margin:0 auto;width:0px;height:0px;overflow:hidden;">
    <img src="/public/images/logo.jpg" alt="车多星"/>
  </div>
  <a href="/" id="headerBrand" title="车多星-新手上路，老司机带飞">
    <img src="/public/images/logo_l.jpg" alt="车多星"/>
  </a>
  <a id="headerBtnMenu"></a>
  <div id="headerMenu">
    <ul></ul>
  </div>
</header>