<% if (typeof osType !== 'undefined' && osType === 'ios') { %>
<div class="ad-easylife" style="margin-bottom: 20px;">
  <a style="display: block; text-align: center; border-top: 1px solid #eee;" href="https://apps.apple.com/cn/app/easylife-tools-in-one-app/id1586203742" rel="nofollow" onClick='_czc.push(["_trackEvent","appDetail","click_from_article","easylife"]);'>
    <img style="max-width: 320px;" src="/public/images/easylife/easylife-app.png" />
  </div>
</div>
<% } %>