<%- include('../../modules/header/index.ejs', {}) %>
<%- include('../../modules/breadcrumb/index.ejs', {list: breadcrumb, title: title}) %>

<section class="developer">
  <ul class="list">
    <% if (typeof developerList !== 'undefined' && developerList.length > 0) { %>
      <%- include('./list.ejs', {list: developerList, encode: encode}) %>
    <% } %>
  </ul>
  <%- include('../../modules/more/index.ejs', {url: 'javascript:;'}) %>
</section>
