<header>
  <div class="header-logo" title="瓶子老师学习网，有趣冷知识，生活小常识">
    <img src="/public/images/logo_header.png" alt="瓶子老师学习网，有趣冷知识，生活小常识"/>
  </div>
  <div class="wrap-input">
    <a rel="nofollow" href="/search" class="header-input">搜索冷知识，生活小常识</a>
  </div>
<!--   <form class="wrap-input" target="_blank" action="http://zhannei.baidu.com/cse/site">
    <input type="search" id="bdcsMain" class="header-input" placeholder="搜索冷知识，生活小常识" name="q" size="30"/>
    <input type="hidden" name="cc" value="25pin.com">
    <input type="submit" class="btn-search" value="">
  </form> -->
</header>