<% var current = 0 %>
<% if (typeof tab === 'number' && tab >= 0 && tab < 4) { %>
  <% current = tab %>
<% } %>

<ul class="jr-m-nav">
  <li<% if (current === 0) { %> class="current"<% } %>><a href="/">首页</a></li>
  <li<% if (current === 1) { %> class="current"<% } %>><a href="/app">APP</a></li>
  <li<% if (current === 2) { %> class="current"<% } %>><a href="/brand">汽车品牌</a></li>
  <li<% if (current === 3) { %> class="current"<% } %>><a href="/photo">美女写真</a></li>
</ul>
