<% var current = 0 %>
<% if (typeof tab === 'number' && tab >= 0 && tab < 4) { %>
  <% current = tab %>
<% } %>

<ul class="jr-m-nav">
  <li<% if (current === 0) { %> class="current"<% } %>><a href="/">首页</a></li>
  <li<% if (current === 1) { %> class="current"<% } %>><a href="/article">老司机</a></li>
  <li<% if (current === 2) { %> class="current"<% } %>><a href="/brand">品牌大全</a></li>
</ul>
