<div class="jr-m-textsite">
  <a href="https://www.ugirls.com/Content/" target="_blank">美女写真</a>
  <a href="https://douban.fm" target="_blank">豆瓣FM</a>
  <a href="https://m.huya.com" target="_blank">虎牙直播</a>
  <a href="https://m.zhibo8.cc/" target="_blank">直播吧</a>
  <a href="http://www.langlib.com" target="_blank">朗播网</a>

  <a href="https://bbs.feng.com" target="_blank">威锋网</a>
  <a href="https://trello.com" target="_blank">Trello</a>
  <a href="https://tinypng.com" target="_blank">Tinypng</a>
  <a href="https://github.com/" target="_blank">Github</a>
  <a href="http://www.gerensuodeshui.cn" target="_blank">个税计算器</a>
</div>