
<div class="jr-m-iconsite">
  <a href="http://www.youku.com/" target="_blank" class="sitelink youku">优酷</a>
  <a href="https://h5.m.taobao.com/" target="_blank" class="sitelink taobao">淘宝</a>
  <a href="https://www.tmall.com/" target="_blank" class="sitelink tmall">天猫</a>
  <a href="https://m.wandoujia.com" target="_blank" class="sitelink wdj">豌豆荚</a>
  <a href="http://a.9game.cn/" target="_blank" class="sitelink ninegame">九游</a>
  <a href="https://wap.25pp.com" target="_blank" class="sitelink pp">PP助手</a>

  <a href="https://m.baidu.com/" target="_blank" class="sitelink baidu">百度</a>
  <a href="https://www.zhihu.com/" target="_blank" class="sitelink zhihu">知乎</a>
  <a href="https://m.weibo.cn/" target="_blank" class="sitelink weibo">微博</a>
  <a href="https://3g.163.com/touch/#/" target="_blank" class="sitelink wangyi">网易</a>
  <a href="https://m.autohome.com.cn/" target="_blank" class="sitelink autohome">汽车之家</a>
  <a href="https://m.dongqiudi.com/" target="_blank" class="sitelink dongqiudi">懂球帝</a>
</div>